body{
    border: 1px black solid;
    width: 300px;
    height: 450px;
    margin: auto;
    margin-top: 75px;
    padding: 50px;
    font-family: Arial;
}

h1{
    text-align: center;
}

.Warning{
    font-weight: 2000;
    font-size: 20px;
    color: red;
    text-align: center;
}
.Login{
    text-align: center;
    font-size: 20px;
}
.Login a{
    text-decoration: none;;
}
.email-input{
    margin-left: 10%;
}
.register-button{
    float: right;
}
.User-type{
    text-align: left;
}
select{
    float: left;
}