{% extends 'base.html' %}

{% block title %}FAQ{% endblock %}

{% block content %}
<body>
    <div>
        <h2 style="text-align: center; color: #007bff; margin-bottom: 20px; font-size: 30px;">Frequently Asked Questions</h1>
        <div style="margin-left: 40px; font-size: 20px;">
            <p style="font-weight: bold; color: #007bff;">Question 1: What is MMU Insight?</p>
            <p >Answer: MMU Insight is a platform for providing insight on MMU's professors and courses.</p>
            <br>
            <p style="font-weight: bold; color: #007bff;">Question 2: Is my information secure?</p>
            <p >Answer: Yes, your information is secure.</p>
        </div>
    </div>
</body>
{% endblock %}